schema/Resources/bwbng.wti/wti_0.36.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema elementFormDefault="qualified" xmlns:owms="http://standaarden.overheid.nl/bwb/owms/"
	xmlns:bwb="http://standaarden.overheid.nl/bwb/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<!-- 0.36 2014-09-08
    
    - maxoccurs van aankondigingen/aankondiging/ingangsdatum aangepast ivm voorkomen inwerkingtreding en voorlopige toepassing.
    - elementen binnen aankondigingen/aankondiging vormen nu een xs:sequence i.p.v. xs:all i.v.m. bovenstaande aanpassing.
    - 'any type' elementen voorzien van typeaanduiding.
    -->

	<!-- 2014-09-17
    - gerelateerde-regelgeving optioneel gemaakt.
  	-->
	<xs:import namespace="http://standaarden.overheid.nl/bwb/owms/"
		schemaLocation="bwb-owms_0.2.xsd"/>
	<xs:element name="wetstechnische-informatie">
		<xs:annotation>
			<xs:documentation>Root element</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="algemene-informatie"/>
				<xs:element ref="gerelateerde-regelgeving" minOccurs="0"/>
				<xs:element ref="wijzigingen"/>
				<xs:element minOccurs="0" ref="aankondigingen"/>
				<xs:element minOccurs="0" ref="owms:meta"/>
			</xs:sequence>
			<xs:attribute name="bwb-id" type="xs:NCName" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="algemene-informatie">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="eerstverantwoordelijke" type="xs:string"/>
				<xs:element minOccurs="0" name="afkortingen">
					<xs:complexType>
						<xs:sequence>
							<xs:element maxOccurs="unbounded" name="afkorting" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element minOccurs="0" name="niet-officiele-titels">
					<xs:complexType>
						<xs:sequence>
							<xs:element maxOccurs="unbounded" name="niet-officiele-titel"
								type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element minOccurs="0" name="citeertitel">
					<xs:complexType>
						<xs:simpleContent>
							<xs:extension base="xs:string">
								<xs:attribute name="status" type="xs:NCName" use="required"/>
							</xs:extension>
						</xs:simpleContent>
					</xs:complexType>
				</xs:element>
				<xs:element name="soort-regeling" type="xs:string"/>
				<xs:element name="identificatienummer" type="xs:string"/>
				<xs:element minOccurs="0" name="datum-materiele-uitwerking" type="xs:date"/>
				<xs:element minOccurs="0" ref="opmerkingen"/>
				<xs:element minOccurs="0" name="departementaal-kenmerk" type="xs:string"/>
				<xs:element minOccurs="0" name="totstandkoming">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="plaats" type="xs:string"/>
							<xs:element name="datum" type="xs:date"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element minOccurs="0" name="extra-informatie" type="xs:string"/>
				<!-- rechtsgebieden toegevoegd in 0.36-->
				<xs:element minOccurs="0" name="rechtsgebieden">
					<xs:complexType>
						<xs:sequence>
							<xs:element maxOccurs="unbounded" name="rechtsgebied">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="hoofdgebied" type="xs:string"/>
										<xs:element minOccurs="0" name="specifiekgebied"
											type="xs:string"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<!-- overheidsdomeinen toegevoegd in 0.36-->
				<xs:element minOccurs="0" name="overheidsdomeinen">
					<xs:complexType>
						<xs:sequence>
							<xs:element maxOccurs="unbounded" name="overheidsdomein"
								type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<!-- taxonomieen toegevoegd in 0.36-->
				<xs:element minOccurs="0" name="taxonomieen">
					<xs:complexType>
						<xs:sequence>
							<xs:element maxOccurs="unbounded" name="taxonomie" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="gegenereerd" type="xs:dateTime" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="gerelateerde-regelgeving">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="regeling">
					<xs:complexType>
						<xs:sequence>
							<xs:element minOccurs="0" name="grondslagen">
								<xs:complexType>
									<xs:sequence>
										<xs:element maxOccurs="unbounded" name="grondslag">
											<!-- wti 0.36: mixed compelex type vervangt de vorige zodat er meerdere extref element afgewisseld met tekst kan worden geplaatst -->
											<xs:complexType mixed="true">
												<xs:sequence>
												<xs:element ref="extref" minOccurs="0"
												maxOccurs="unbounded"/>
												</xs:sequence>
												<xs:attribute name="bwb-id" type="xs:NCName"/>
												<xs:attributeGroup ref="t1"/>
											</xs:complexType>
											<!--<xs:complexType>
-->
											<!-- extref ingevoegd -->
											<!--
												<xs:sequence>
													<xs:element ref="extref"/>
												</xs:sequence>
-->
											<!-- bwb-id uit groep t1 gehaald omdat deze niet voor alle gevallen gelijk meer is -->
											<!--
												<xs:attribute name="bwb-id" type="xs:NCName"/>
												<xs:attributeGroup ref="t1"/>
											</xs:complexType>-->
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="wetsfamilie" type="gerelateerde_regeling_parent"/>
							<xs:element minOccurs="0" name="grondslag-voor"
								type="gerelateerde_regeling_parent"/>
							<xs:element minOccurs="0" name="wettelijke-bevoegdheid-voor"
								type="gerelateerde_regeling_parent"/>
							<xs:element minOccurs="0" name="verwijzing-door"
								type="gerelateerd_regelingelement_parent"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="regelingelementen">
					<xs:complexType>
						<xs:sequence>
							<xs:element maxOccurs="unbounded" minOccurs="0" name="regelingelement">
								<xs:complexType>
									<xs:sequence>
										<xs:element minOccurs="0" name="grondslag-voor"
											type="gerelateerde_regeling_parent"/>
										<!-- 2013-01-16 maxOccurs verwijderd -->
										<xs:element minOccurs="0" name="wettelijke-bevoegdheid-voor"
											type="gerelateerde_regeling_parent"/>
										<!-- 2013-01-16 maxOccurs verwijderd -->
										<xs:element minOccurs="0" name="verwijzing-door"
											type="gerelateerd_regelingelement_parent"/>
									</xs:sequence>
									<xs:attribute name="label-id" use="required" type="xs:string"/>
									<xs:attribute name="xpath" use="required" type="xs:string"/>
									<xs:attribute name="groep" use="required" type="xs:string"/>
									<xs:attribute name="label" use="required" type="xs:string"/>
									<!-- ingevoegd 2013-01-16 -->
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="gegenereerd" type="xs:dateTime" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="wijzigingen">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="regeling">
					<xs:complexType>
						<xs:sequence>
							<xs:element maxOccurs="unbounded" name="datum">
								<xs:complexType>
									<xs:sequence>
										<xs:element maxOccurs="unbounded" name="details">
											<xs:complexType>
												<xs:sequence>
												<xs:element minOccurs="0"
												name="terugwerkende-kracht">
												<xs:complexType>
												<xs:sequence>
												<xs:element maxOccurs="unbounded"
												name="terugwerkende-kracht-datum"
												type="terugwerkende-kracht-datum-groot"/>
												</xs:sequence>
												</xs:complexType>
												</xs:element>
												<xs:element name="betreft" type="xs:string"/>
												<xs:element minOccurs="0" ref="ontstaansbron"/>
												<xs:element minOccurs="0" ref="inwerkingtreding"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="waarde" type="xs:date"/>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="regelingelementen">
					<xs:complexType>
						<xs:sequence>
							<xs:element maxOccurs="unbounded" name="regelingelement">
								<xs:complexType>
									<xs:sequence>
										<xs:element maxOccurs="unbounded" name="datum">
											<xs:complexType>
												<xs:sequence>
												<xs:element maxOccurs="unbounded" name="details">
												<xs:complexType>
												<xs:sequence>
												<xs:element minOccurs="0"
												name="terugwerkende-kracht">
												<xs:complexType>
												<xs:sequence>
												<xs:element maxOccurs="unbounded"
												name="terugwerkende-kracht-datum"
												type="terugwerkende-kracht-datum-klein"/>
												</xs:sequence>
												</xs:complexType>
												</xs:element>
												<xs:element name="betreft" type="xs:string"/>
												<xs:element minOccurs="0" ref="ontstaansbron"/>
												<xs:element minOccurs="0" ref="inwerkingtreding"/>
												<xs:element minOccurs="0" ref="opmerkingen"/>
												</xs:sequence>
												<xs:attribute name="isvoorafgaand" use="optional"
												type="xs:boolean"/>
												</xs:complexType>
												</xs:element>
												</xs:sequence>
												<xs:attribute name="waarde" type="xs:date"/>
												<xs:attribute name="label" type="xs:string"/>
												<xs:attribute name="versie-id" type="xs:string"/>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="label-id" use="required" type="xs:string"/>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="gegenereerd" type="xs:dateTime" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="aankondigingen">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="aankondiging" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="label-id" type="xs:string" minOccurs="1">
								<xs:annotation>
									<xs:documentation>Dit is het label-id van het aangekondigde regelingelement.
									Link met regelingelementen in de wti wijzigingen</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="opschrift" type="xs:string" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Dit is het opschrift van het aangekondigde regelingelement, bestaande uit alle tekst uit de kop.</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="ingangsdatum" minOccurs="1" maxOccurs="2">
								<xs:annotation>
									<xs:documentation>Dit is de datum waarop het aangekondigde regelingelement in een toestand komt.</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:date">
											<xs:attribute name="type" type="xs:string"
												use="required">
												<xs:annotation>
												<xs:documentation>Inwerkingtreding (iwt) of voorlopige toepassing (vt).</xs:documentation>
												</xs:annotation>
											</xs:attribute>
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
							<xs:element name="terugwerkend.datum" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Dit is de datum tot wanneer het aangekondigde regelingelement terugwerkt.</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:date">
											<xs:attribute name="datum-scope" type="xs:string"
												use="required">
												<xs:annotation>
												<xs:documentation>Terugwerken tot (tot) of tot en met (tot-en-met).</xs:documentation>
												</xs:annotation>
											</xs:attribute>
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
							<xs:element name="hierarchy" minOccurs="1">
								<xs:annotation>
									<xs:documentation>De plek van het aangekondigde regelingelement in de regeling hierarchie.</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:all>
										<xs:element name="self-id" type="xs:string" minOccurs="1">
											<xs:annotation>
												<xs:documentation>Stam id van het aangekondigde regelingelement zelf.</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="parent-id" type="xs:string" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Stam id van het bovenliggende regelingelement.</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="previous-sibling-id" type="xs:string"
											minOccurs="0">
											<xs:annotation>
												<xs:documentation>Stam id van het voorafgaande regelingelement.</xs:documentation>
											</xs:annotation>
										</xs:element>
									</xs:all>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="effect" type="xs:string" use="required"/>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<!-- gedeeld -->
	<xs:complexType name="terugwerkende-kracht-datum-klein">
		<xs:sequence/>
		<xs:attribute name="datum-scope" type="xs:NCName" use="required"/>
		<xs:attribute name="waarde" type="xs:date" use="required"/>
	</xs:complexType>
	<xs:complexType name="terugwerkende-kracht-datum-groot">
		<xs:complexContent>
			<xs:extension base="terugwerkende-kracht-datum-klein">
				<xs:sequence>
					<xs:element minOccurs="0" name="artikelen">
						<xs:complexType>
							<xs:sequence>
								<xs:element maxOccurs="unbounded" name="label" type="xs:string"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="ontstaansbron">
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="unbounded" name="bron" type="bron_groot"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="inwerkingtreding">
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="unbounded" name="bron" type="bron_klein"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="bron_groot">
		<xs:complexContent>
			<xs:extension base="bron_klein">
				<xs:sequence>
					<xs:element minOccurs="0" name="kenmerk" type="xs:string"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="bron_klein">
		<xs:sequence>
			<!-- dossiernummer verplaats van bron_groot in 0.36-->
			<xs:element minOccurs="0" name="dossiernummer" type="xs:string"/>
			<xs:element minOccurs="0" name="ondertekening" type="xs:date"/>
			<xs:element minOccurs="0" name="bekendmaking">
				<xs:complexType>
					<xs:sequence>
						<!--0.36: publicatiedatum toegevoegd -->
						<xs:element name="publicatiedatum" minOccurs="0" type="xs:date"/>
						<xs:element name="publicatiejaar" type="xs:string"/>
						<xs:element name="publicatienummer" type="xs:string"/>
						<xs:element maxOccurs="unbounded" minOccurs="0" name="rectificatie">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="publicatiejaar" type="xs:string"/>
									<xs:element name="publicatienummer" type="xs:string"/>
								</xs:sequence>
								<xs:attribute name="soort" type="xs:NCName" use="required"/>
								<xs:attribute name="urlidentifier" type="xs:string"/>
							</xs:complexType>
						</xs:element>
						<!-- kenmerk toegevoegd voor wti 0.36-->
						<xs:element minOccurs="0" name="kenmerk" type="xs:string"/>
					</xs:sequence>
					<xs:attribute name="soort" type="xs:NMTOKEN" use="required"/>
					<xs:attribute name="urlidentifier" type="xs:string"/>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="type" type="xs:NCName" use="required"/>
		<!-- kenmerk toegevoegd voor wti 0.36, nodig voor herkennen van vt bron bij het verrijken van toestanden met meta-data uit de wti.-->
		<xs:attribute name="isvoorlopigetoepassing" type="xs:boolean"/>
	</xs:complexType>
	<xs:element name="opmerkingen">
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="unbounded" name="opmerking">
					<!-- wti 0.36 toegevoegd mogelijkheden om al elementen toe te kunnen voegen.-->
					<xs:complexType mixed="true">
						<xs:choice maxOccurs="unbounded" minOccurs="0">
							<xs:element ref="al"/>
						</xs:choice>
						<xs:attribute name="type" type="xs:NCName"/>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="gerelateerde_regeling_parent">
		<xs:sequence>
			<xs:element maxOccurs="unbounded" name="gerelateerde-regeling"
				type="gerelateerde-regeling"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType mixed="true" name="gerelateerde-regeling">
		<!-- ingevoegd 2013-01-16 extref -->
		<xs:sequence>
			<xs:element ref="extref"/>
		</xs:sequence>
		<!-- bwb-id uit groep t1 gehaald omdat deze niet voor alle gevallen gelijk meer is -->
		<xs:attribute name="bwb-id" type="xs:NCName" use="required"/>
		<xs:attributeGroup ref="t1"/>
	</xs:complexType>
	<xs:complexType name="gerelateerd_regelingelement_parent">
		<xs:sequence>
			<xs:element maxOccurs="unbounded" name="gerelateerd-regelingelement"
				type="gerelateerde-regeling"/>
		</xs:sequence>
	</xs:complexType>
	<xs:attributeGroup name="t1">
		<xs:attribute name="geldig-tot" type="xs:date" use="required"/>
		<xs:attribute name="geldig-van" type="xs:date" use="required"/>
		<xs:attribute name="zichtbaar-tot" type="xs:date" use="required"/>
		<xs:attribute name="zichtbaar-van" type="xs:date" use="required"/>
	</xs:attributeGroup>
	<xs:element name="extref">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="label" type="xs:string"/>
					<xs:attribute name="groep" type="xs:string"/>
					<xs:attribute name="doc" type="xs:string"/>
					<!-- optioneel geworden -->
					<xs:attribute name="anker" type="xs:string"/>
					<!--toegevoegd-->
					<xs:attribute name="bwb-id" type="xs:string"/>
					<xs:attribute name="eurlex" type="xs:string"/>
					<xs:attribute name="label-id" type="xs:string"/>
					<!-- verwijzing-id toegevoegd voor wti 0.36 -->
					<xs:attribute name="verwijzing-id" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>

	<!-- al toegevoegd voor wti 0.36-->
	<xs:element name="al">
		<xs:complexType mixed="true"/>
	</xs:element>

</xs:schema>
